
.pollPage * {
  border-color: hsl(var(--border));
}

.pollPage {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-body);
}

.pollPage h1,
.pollPage h2,
.pollPage h3,
.pollPage h4,
.pollPage h5,
.pollPage h6 {
  font-family: var(--font-heading);
}