.pollPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.createPollSection {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.createPollSection input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.createPollSection button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.createPollSection button:hover {
  background-color: black;
}

.pollContainer {
  width: 100%;
  max-width: 600px;
}

.poll {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.voteButton {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.voteButton:hover {
  background-color: #005bb5;
}

.buttonGroup {
  display: flex;
  gap: 10px; 
}

.createPollSection button {
  flex: 1;
}
